.principal{
    background-color: blue;
    width: 50%;
    height: 800px;
}
.secundario{
    background-color: red;
    width: 50%;
    height: 400px;
}
.terciario{
    background-color: green;
    width: 50%;
    height: 200px;
}
.cuarto{
   background-color: yellow;
    width: 50%;
    height: 100px;
}