.principal{
    background-color: blue;
    width: 100%;
    height: 100%;
}
.secundario{
    background-color: red;
    width: 80%;
    height: 80%;
}
.terciario{
    background-color: green;
    width: 25%;
    height: 25%;
}
.cuarto{
   background-color: yellow;
    width: 12.5%;
    height: 12.5%;
}