*{
    box-sizing: border-box;
}
#cabecera {
    background-color: orange;
    height: 100px;
    overflow: auto;
}
#toptext{
    position: absolute;
    float: left;
    border: solid black;
    padding:0px;
    height: 50px;
    top: 30px;
}
#logo{
    float: right;
    border: solid black;
    padding:0px;
    top: 200px;
}
#lefttext{
    float: left;
    width: 70%;
    background-color: pink;
    text-align: justify;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
#righttext{
    float: right;
    width: 25%;
    background-color: cadetblue;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    top: 190px;
}
#footer{
    clear: both;
    margin-top: 500px;
    background-color: gray;
    padding: 20px;
    text-align: center;
}